# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
*.pem

# Debug
debug

# Local env files
.env*.local
.env

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Docs
*.md
docs

# Husky
.husky

# Logs
logs
*.log
